body{
    background-color: #443b5f;
    color: #fbeed7;
    overflow-x: hidden;
    width : 100vw;
}
p{
    color: #fbeed7;
}
a{
    color : rgb(141, 183, 211);
}

header{
    width: 100%;
}

#quizz{
    display: flex;
    flex-direction: column;
}

.reponse{
    background-color: #fbeed7;
    font-weight: 700;
    color: #443b5f;
    min-height: 60px;
    border-radius: 30px;
    border-color: #ffba5a;
    flex : 1 1 0;
    width: 20%;
    min-width: 200px;
    margin: auto;
    margin-top: 2%;
    padding : 10px 5px;
}

.reponse:hover{
    
    color: #ff7657;
    border-color: #ff7657;
}



.home-container{
    padding: 2% 5%;
}

.row{
    border-width: 5px;
    border-style: solid;
    border-color: #ffba5a;
    border-radius: 20px;
}

.home-container > div > div > p{
    text-align: justify;
    font-size: 150%;
    display: inline-block;
    margin: 2% 10%
}

.home-image-container{
    margin: auto;
    padding: 3%;
}

.home-text-container{
    padding: 3%;
}

h1, h2{
    color: #ff7657;
}

h3{
    color: #ffba5a;
}
nav{
    background-color: #ffba5a;
}
header{
    background-color: #ff7657;
}
header > div > div > h1{
    color: white;
}