


body{
    background-color: black;
}

header{
    width: 100%;
}

.media-body{
    
    background-image:-moz-linear-gradient(left, rgba(0, 0, 0, 0.5), black), url("img/jeune-fille-a-la-fenetre.jpg") ;  
    overflow: hidden;
}

.media-body{
   
    display : table-cell;
}
.media-right{
    display : table-cell;
    
        
}   

img{
    align-self: center;
   margin: 0% 0% 0% 0%;
   overflow: hidden;
}

#quizz{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}


.reponse{
    background-color: white;
    color: black;
    min-height: 50px;
    border-radius: 30px;
    flex : 1 1 0;
    width: 20%;
    min-width: 200px;
    margin: auto;
    margin-top: 2%;
    padding : 10px 5px;
}

.reponse:hover{
    background-color: black;
    color: white;
}